*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@font-face {
    font-family: 'DOSMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSMyungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'DOSMyungjo';
    text-align: center;
    background-color:antiquewhite;
}

#wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    max-width: 50vh;
    background-color:gold;
}

#display{
    width: 100%;
    display: inline-block;
    height: auto;
    font-size: 10vh;
    padding: 0;
}

.user-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-buttons button{
    cursor: pointer;
    border: 0;
}