*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@font-face {
    font-family: 'DOSMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSMyungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'DOSMyungjo';
    background-color:antiquewhite;
}

#wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    max-width: 50vh;
    background-color:gold;
}

#wrap h1{   
    font-size: 5vh;
    padding: 0 1vh;
    margin-bottom: 1vh;
    writing-mode: tb-rl;
}

#display{
    font-size: 10vh;
    margin: 2vh 0;
}

.btn-wrap{
    margin: 2vh 0 3vh;
}

.btn-wrap button{
    cursor: pointer;
    border: 0;
    font-size: 5vh;
    background: transparent;
}